Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy "strict-origin-when-cross-origin"
Header set Content-Security-Policy "default-src 'self'; img-src * data:; script-src 'self' https://cdn.jsdelivr.net https://code.jquery.com 'unsafe-inline'; style-src 'self' https://fonts.googleapis.com 'unsafe-inline'; font-src https://fonts.gstatic.com;"

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteRule ^(res|widget)/ - [F,L]
RewriteBase /CraftaWeb/

# Redirect da /index o /index.php → /
RewriteCond %{THE_REQUEST} \s/CraftaWeb/index(\.php)?[\s?] [NC]
RewriteRule ^index(\.php)?$ /CraftaWeb/ [R=301,L]

# Redirect da .php a URL pulito
RewriteCond %{THE_REQUEST} \s/CraftaWeb/([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]

# Se NON è file o cartella reale
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Aggiunge .php automaticamente
RewriteRule ^([^/]+)$ $1.php [L]